@model MvcCv.Models.Entities.TblSkills

@{
    ViewBag.Title = "SkillsAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4 style="color:crimson">Add New Skills Page</h4>
<br />

<form method="post">
    @Html.Label(" Skill")
    @Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
    <br />
    @Html.Label(" Level")
    @Html.TextBoxFor(x => x.Level, new { @class = "form-control" })
    <br />
  
    <br />
    <button class="btn btn-info">Save</button>

</form>

